{% extends "base.html" %}
{% block content %}
<h1>Add Product</h1>

<form method="POST">
    {% csrf_token %}
    <table>
        <!-- {{ form.as_table }} adalah template tag yang digunakan untuk menampilkan fields form yang sudah dibuat pada forms.py sebagai table. -->
        {{ form.as_table }}
        <tr>
            <td></td>
            <td>
                 <a href="{% url 'main:show_main' %}"><button>Back</button></a>
                 <input type="submit"/>
            </td>
            
        </tr>
        
    </table>
   
</form>


{% endblock content %}